*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}

.todo-header{
    background: url("images/bg-desktop-light.jpg");
    height: 18rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; /*Fixes the issue of the width not being the full width of the screen*/
}

.todo-main{
    text-align: center; /*Use text/object alignment on parent element for best practice*/
    align-items: center;
    position: relative;
    top: -15rem;
}

.todo-heading{
    display: inline-flex;
    align-items: center; /*Aligns the 2 items in this div in the center*/
}

.todo-heading h1{
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    color: white;
    font-weight: 700;
    float: left;
    margin-right: 20rem;
}

.todo-input-container{
    border: 2px solid white;
    max-width: 502.85px;
    height: 3.5rem;
    position: relative;
    right: -50%;
    transform: translateX(-50%); /*Translates the input container to the center*/
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.3rem;
}

.todo-form{
    text-align: left;
    justify-items: left;
    margin-left: 0.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}

/*Removes decoration from input html */
.todo-input{
    border: none;
    background-color: transparent;
    outline: none;
    resize: none;
    padding-right: 15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
}

/*Styling the button*/
.btn{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid #ccc; 
}

.todo-container {
    border: 0.1rem solid white;
    max-width: 502.85px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 24.5rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.todo-footer{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    font-weight: 520;
    width: 502.85px;
    display: flex;
    justify-content: space-between;
    color:hsl(236, 9%, 61%);
    margin-bottom: 0.5rem;
    cursor: pointer;
}

/*Evenly space out the items in the todo-footer*/
.todo-footer p{
    margin-left: 2rem;
}

.todo-footer .clear-completed{
    margin-right: 2rem;
}

.todo-footer .todo-states >*{
    margin-right: 0.4rem;
}

.todo-states{
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}


.todo-footer p:hover,
.todo-footer .clear-completed:hover,
.todo-states >*:hover
{
    color: hsl(235, 19%, 35%);
}



















